{% extends "base.html" %}

{% block title %}Flasky - Confirm your account{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        好呀, {{ current_user.username }} (｡◕ˇ∀ˇ◕）!
    </h1>
    <h3>您还没确认你的账号哟.</h3>
    <p>
        在你进入这个网站之前，请先确认你的账号<br><br>
        检查你的邮箱，你应该能收到一封确认链接的邮件<br><br>
        什么？没有到，大概被墙了吧 -。- 待我有空把google的换了ʅ（´◔౪◔）ʃ
    </p>
    <p>
       再发一封确认邮件?
        <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
    </p>
</div>
{% endblock %}
